body {
  margin: 0;
  font-family: "Helvetica";
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #c0c0c0;
  position: fixed;
  height: 100vh;
  top: 0px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.sidebar a:hover {
  text-decoration: none;
}

div.content {
  margin-left: 200px;
  /* padding: 1px 16px; */
  height: 1000px;
}
