/* Grid Layout for Tasks */
#time {
	display: grid;
	grid-template-columns: 40vw 40vw;
}
#today {
	overflow-y: scroll;
	overflow-x: hidden;
	grid-column: 1;
	height: 70vh;
	word-wrap: break-word;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: left;
}
#week {
	grid-column: 2;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: left;
	word-wrap: break-word;
}
#todaycol {
	grid-column: 1;
}
#weekcol {
	grid-column: 2;
}
::-webkit-scrollbar {
	display: none;
}
